.SearchLayout {
   padding-bottom: 20px;
     
}
.MediaWrapper { 
    width: 200px;
    height: 200px;
    
}
.Media { 
    width: 200px;
    height: 200px;
    
}
.Title { 
    width: 200px;
    height: 20px;
    
}