.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width:50%;
}


.search-input-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.search-bar.open .search-input-container {
    width: 400px;
    transform: translateX(0); 
}

.search-input-container .MuiTextField-root {
    width: 100%; 
}

.MuiOutlinedInput-root {
    height: 50px; 
    font-size: 16px; 
}
