.searchBar {
    display: flex;
    align-items: center;
    position: relative;
    width:50%;
}


.SearchInput {
   display: flex;
    align-items: center;
    overflow: hidden; 
     position: absolute; 
     right: 0; 
     width: 100%;
       overflow: hidden;
}

.MainInput {
    background-color: white;
    border-radius: "4px";
    width: "100%";
    height: "50px";
    font-size: "16px";
}
.SearchBar.open .SearchInput{
    width: 400px;
    transform: translateX(0); 
}



.MuiOutlinedInput-root {
    height: 50px; 
    font-size: 16px; 
}
@media (max-width: 600px) {
    .SearchBar.open .SearchInput{
        width: 40px;
        transform: translateX(0); 
    }
    .SearchInput {
     
        width: 20%; 
        transform: translateX(-100%);
     left:0;
     
     }
     .MainInput {
        
        width: 40%;
     }

    
    .SearchBar.open .SearchInput{
        width: 20%;
        transform: translateX(0); 
    }
  }
