
.Layout {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  @media (max-width: 1200px) {
    .Layout {
       
height:100%;
      padding-top: 140px !important; 
   
      
    }
  }
  @media (max-width: 600px) {
    .Layout {
        box-sizing: border-box;

      padding-top: 140px; 
   
      
    }
  }
  